input:focus{
    background-color:palegreen;
    width:200px;
    color:;
    font-size:20px;
    font-weight:700;
}
input{
   color:white;
   font-size:15px;
   font-family:sans-serif;
   font-weight:700;
   background-color:black;
   padding:20px 30px 20px 70px;
   margin:15px;
   width:150px;
   height:10px;
}
li:nth-child(2n+1){
   color:burlywood;
   font-size:25px;
}
h1::before{
   content:"Kira";
   color:cyan;
   font-size:25px;
   font-weight:700;
   font-family:sans-serif;

}
h1::after{
   content:"Kun";
   color:red;
   font-size:25px;
   font-weight:700;
   font-family:sans-serif;
}